<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(52,58,64,0.75);">
    <div class="container"><a class="navbar-brand" routerLink="/login" style="color: rgb(255,165,85);">FAP</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,165,85);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/historial-clinico" style="color: rgb(255,165,85);">Historial clínico</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/gestionar-cita" style="color: rgb(255,165,85);">Gestión de citas</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/usuario" style="color: rgb(255,165,85);">Usuario</a></li>
                
            </ul>
        </div>
    </div>
</nav>

<section id="portfolio">
    <div class="container" style="margin-top: 50px;">
        <div class="row text-center" style="margin-bottom: -15px;">
            <div style="width: 100%; ">
                <form [formGroup]="seleccionarEspecialidadForm">
                    
                    <!-- opciones de progreso -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="assets/img/fap/opc-3.png" style="width: 30%;">
                        </div>
                    </div>
                    <br />

                    <!-- Mostrar médico reservado -->
                    <div class="row text-center">
                        <div class="col-md-12" style="font-weight: bold;"> &lt; Revisar resumen de tu cita  </div> <br /> <br />
                        <div class="col-md-12" style="font-weight: bold;"> Médico reservado  </div>
                        <div class="col-md-12"> Juan Perez Cueva  </div>
                    </div>
                    <br />

                    <!-- Mostrar especialidad reservado -->
                    <div class="row text-center">
                        <div class="col-md-12" style="font-weight: bold;"> Especialidad reservado  </div>
                        <div class="col-md-12"> Especialidad 2 </div>
                    </div>
                    <br />

                    <!-- Mostrar fecha reservado -->
                    <div class="row text-center">
                        <div class="col-md-12" style="font-weight: bold;"> Fecha reservada  </div>
                        <div class="col-md-12"> 15/05/2025 </div>
                    </div>
                    <br />

                    <!-- Mostrar horario reservado -->
                    <div class="row text-center">
                        <div class="col-md-12" style="font-weight: bold;"> Fecha reservada  </div>
                        <div class="col-md-12"> 07:30 </div>
                    </div>
                    <br />
                    <br />

                    <!--   -->
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 form-group text-center">
                            <button (click)="btnAtraz()" class="btn btn-primary" type="submit" style="width: 50%;"> &lt;Atraz </button>
                        </div>
                        <div class="col-md-4 form-group text-center">
                            <button (click)="btnContinuar()" class="btn btn-primary" type="submit" style="width: 50%;"> Confirmar cita </button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    
                </form>
                              
            </div>
        </div>
    </div>
</section>

