<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(52,58,64,0.75);">
    <div class="container"><a class="navbar-brand" routerLink="/login" style="color: rgb(255,165,85);">FAP</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,165,85);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/historial-clinico" style="color: rgb(255,165,85);">Historial clínico</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/gestionar-cita" style="color: rgb(255,165,85);">Gestión de citas</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/usuario" style="color: rgb(255,165,85);">Usuario</a></li>
                
            </ul>
        </div>
    </div>
</nav>

<section id="portfolio">
    <div class="container" style="margin-top: 50px;">
        <div class="row text-center" style="margin-bottom: -15px;">
            <div style="width: 100%; ">
                <form [formGroup]="reservaMedicoForm">
                    
                    <!-- opciones de progreso -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="assets/img/fap/opc-1.png" style="width: 30%;">
                        </div>
                    </div>
                    <br />

                    <!-- Opciones de búsqueda -->
                    <div class="row text-center">
                        <div class="col-md-12" style="font-weight: bold;"> &lt; Reservar por médico  </div> <br /><br />
                        <div class="col-md-6 col offset-md-3">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" formControlName="txtMedico" placeholder="Ingrese nombre del médico">
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon2"> <a routerLink="/reservar-medico"> Buscar </a></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <br />

                    <!-- Seleccion médicos disponibles -->
                    <div class="row text-center">
                        <div class="col-md-12" style="font-weight: bold;">Médicos disponibles</div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 offset-md-4">
                            <select class="form-control form-select" formControlName="tipo_documento">
                                <option *ngFor="let p of medicos" value="{{ p.id_medico }}">{{ p.nombre }} {{ p.apellido }} </option>
                            </select>
                        </div>
                    </div>
                    <br />

                    <!--   -->
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 form-group text-center">
                            <button (click)="btnAtraz()" class="btn btn-primary" type="submit" style="width: 50%;"> &lt;Atraz </button>
                        </div>
                        <div class="col-md-4 form-group text-center">
                            <button (click)="btnContinuar()" class="btn btn-primary" type="submit" style="width: 50%;"> Continuar </button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    
                </form>
                              
            </div>
        </div>
    </div>
</section>