<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(52,58,64,0.75);">
    <div class="container"><a class="navbar-brand" routerLink="/login" style="color: rgb(255,165,85);">FAP</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,165,85);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/login" style="color: rgb(255,165,85);">Inicio de Sesión</a></li>
                
            </ul>
        </div>
    </div>
</nav>

<section id="portfolio">
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div style="width: 95%; ">
                <div class="row text-center">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <img src="assets/img/fap/logo_principal_grande.png" style="height: 320px;">
                        </div>
                    </div>
                    <div class="col-md-7" style="padding: 10px;border-radius: 4px;box-shadow: 1px 1px 2px 1px;height: auto;">
                        <p class="text-center" style="font-weight: bold;">INGRESO AL SISTEMA (SIGNO)</p>

                            <form [formGroup]="loginForm">                            
                                <div class="form-group">
                                    <div class="input-group mb-1">
                                        <span class="input-group-text" style="width: 35%;">Tipo de documento: </span>
                                        <div class="form-floating" style="width: 65%;">
                                            <select class="form-control form-select" formControlName="tipoDoc">
                                                <option value="1">DNI</option>
                                                <option value="2">Carnet Extranjería</option>
                                                <option value="3">Pasaporte</option>
                                            </select>
                                            <small class="form-text text-danger" *ngIf="getTipoDocInvalido">*El tipo de documento es requerido</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-1">
                                        <span class="input-group-text" style="width: 35%;">Número de documento: </span>
                                        <div class="form-floating" style="width: 65%;">
                                            <input class="form-control" type="text" formControlName="nroDoc" autocomplete="off" >
                                            <small class="form-text text-danger" *ngIf="getNroDocInvalido">*El número de documento es requerido</small>                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-1">
                                        <span class="input-group-text" style="width: 35%;">Contraseña: </span>
                                        <div class="form-floating" style="width: 65%;">
                                            <input class="form-control" type="password" formControlName="pwd">
                                            <small class="form-text text-danger" *ngIf="getPwdInvalido">*La contraseña es requerido</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <button (click)="submit()" class="btn btn-primary" type="submit" style="width: 30%;">Ingresar</button>
                                </div>
                                
                            </form>
                            
                        
                        <div class="row text-center">
                                <div class="col-md-6"><a class="nav-link js-scroll-trigger" routerLink="/crear-cuenta">Crear nueva cuenta</a></div>
                                <div class="col-md-6"><a class="nav-link js-scroll-trigger" routerLink="/recuperar-password">He olvidado la contraseña</a></div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>