<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(52,58,64,0.75);">
    <div class="container"><a class="navbar-brand" routerLink="/login" style="color: rgb(255,165,85);">FAP</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,165,85);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/historial-clinico" style="color: rgb(255,165,85);">Historial clínico</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/gestionar-cita" style="color: rgb(255,165,85);">Gestión de citas</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/usuario" style="color: rgb(255,165,85);">Usuario</a></li>
                
            </ul>
        </div>
    </div>
</nav>

<section id="portfolio">
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div style="width: 80%; ">
                <form [formGroup]="gestionarCitaForm">
                    <div class="row">
                        <div class="col-md-12" style="font-weight: bold;" id="saludo"> Hola Usuario! </div>
                        <div class="col-md-12"> Estamos aqui para cuidarte </div>
                    </div>
                    <br />

                    <!-- Opciones de seleccion de Gestión de Citas  -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="radio" class="btn-check" formControlName="tipoGestionCita" name="xx" id="optReservaCita" autocomplete="off" checked>
                                <label class="btn" for="optReservaCita"> Reserva tu cita </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="radio" class="btn-check" formControlName="tipoGestionCita" name="xx" id="optCancelacionCita" autocomplete="off">
                                <label class="btn text-danger" for="optCancelacionCita"> Cancelación de cita </label>
                            </div>
                        </div>
                    </div>

                    <!-- Seleccion del tipo de cita -->
                    <div class="row">
                        <div class="col-md-12" style="font-weight: bold;">Tipo de cita</div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="radio" class="btn-check" formControlName="tipoCita" name="yy" id="optCitaPresencial" autocomplete="off" checked>
                                <label class="btn" for="optCitaPresencial"> Presencial </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="radio" class="btn-check" formControlName="tipoCita" name="yy" id="optCitaVirtual" autocomplete="off">
                                <label class="btn" for="optCitaVirtual"> Virtual </label>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <!-- Opciones para seleccionar el tipo de cita  -->
                    <div class="row">
                        <div class="col-md-4 portfolio-item" style="padding: 5px;">
                            <a routerLink="/reservar-medico"><img class="img-fluid" src="assets/img/fap/medico.png"></a>
                            <p class="text-center"> <a routerLink="/reservar-medico">Médico</a> </p>
                        </div>
                        <div class="col-md-4 portfolio-item" style="padding: 5px;">
                            <a routerLink="/seleccionar-especialidad"><img class="img-fluid" src="assets/img/fap/especialidad.png"></a>
                            <p class="text-center"> <a routerLink="/seleccionar-especialidad">Especialidad</a> </p>
                        </div>
                        <div class="col-md-4 portfolio-item" style="padding: 5px;">
                            <a routerLink="/reservar-laboratorio"><img class="img-fluid" src="assets/img/fap/laboratorio.png"></a>
                            <p class="text-center"> <a routerLink="/reservar-laboratorio">Laboratorio</a> </p>
                        </div>
                    </div>
                    
                </form>
                              
            </div>
        </div>
    </div>
</section>